[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydicom = "*"
matplotlib = "*"
opencv-python = "*"
pillow = "*"
deid = "*"
sqlalchemy = "*"
keras = "*"
tensorflow = "*"
cx-oracle = "*"
pandas = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
